* {
    margin: 0;
}

html,
body,
.main {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;

    .topbar {
        height: 50px;
        width: 100%;
        background-color: yellow;
        position: fixed;
        left: 0;
        top: 0;
    }

    .box {
        flex: 1;
        background-color: blue;
    }
}